In [1]:
from pyforest import *
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Input

In [2]:
pd.set_option("display.max_columns",False)
df = pd.read_csv("spaceship_titanic.csv")
df.drop(["PassengerId","Cabin","Destination","HomePlanet","Name"],axis=1,inplace=True)
df.dropna(inplace=True)
df.head()

  CryoSleep   Age    VIP  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0     False  39.0  False          0.0        0.0           0.0     0.0     0.0        False
1     False  24.0  False        109.0        9.0          25.0   549.0    44.0         True
2     False  58.0   True         43.0     3576.0           0.0  6715.0    49.0        False
3     False  33.0  False          0.0     1283.0         371.0  3329.0   193.0        False
4     False  16.0  False        303.0       70.0         151.0   565.0     2.0         True

In [3]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

scaler = MinMaxScaler()
x = scaler.fit_transform(x)

In [4]:
model = Sequential()
model.add(Input(shape=(8,)))
model.add(Dense(64,activation="relu"))
model.add(Dense(32,activation="relu"))
model.add(Dense(16,activation="relu"))
model.add(Dense(1,activation="sigmoid"))
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(x,y,batch_size=10,epochs=10)

Epoch 1/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 9s 4ms/step - accuracy: 0.7291 - loss: 0.5761
Epoch 2/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7949 - loss: 0.4754
Epoch 3/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7916 - loss: 0.4694
Epoch 4/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.7980 - loss: 0.4619
Epoch 5/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7979 - loss: 0.4639
Epoch 6/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7907 - loss: 0.4713
Epoch 7/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7939 - loss: 0.4634
Epoch 8/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7914 - loss: 0.4736
Epoch 9/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8003 - loss: 0.4624
Epoch 10/10
726/726 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7934 - loss: 0.4586

In [5]:
test = pd.read_csv("test.csv")
id = test.PassengerId
test.drop(["PassengerId","Cabin","Destination","HomePlanet","Name"],axis=1,inplace=True)
test.head()

  CryoSleep   Age    VIP  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0      True  27.0  False          0.0        0.0           0.0     0.0     0.0
1     False  19.0  False          0.0        9.0           0.0  2823.0     0.0
2      True  31.0  False          0.0        0.0           0.0     0.0     0.0
3     False  38.0  False          0.0     6652.0           0.0   181.0   585.0
4     False  20.0  False         10.0        0.0         635.0     0.0     0.0

In [6]:
test = scaler.transform(test)
predictions = model.predict(test,batch_size=10)

428/428 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step

In [8]:
predictions = (predictions>=0.5)

In [9]:
output = pd.DataFrame({"PassengerId": id,"Transported":predictions.flatten()})
output.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01         True
3     0021_01         True
4     0023_01         True

In [ ]:
# output.to_csv("submission.csv",index=False)